# Example Run: find . -type f \( -name "*.cpp" -or -name "*.h" \) -exec clang-tidy --config-file .clang-tidy  {} +

Checks: >
  -*,
  bugprone-*
  misc-*,
  portability-*,
  readability-identifier-naming,
  -fuchsia-trailing-return,

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,       value: lower_case }
  - { key: readability-identifier-naming.ClassCase,           value: lower_case  }
  - { key: readability-identifier-naming.StructCase,          value: lower_case  }
  - { key: readability-identifier-naming.FunctionCase,        value: lower_case}
  - { key: readability-identifier-naming.VariableCase,        value: lower_case }
  - { key: readability-identifier-naming.GlobalConstantCase,  value: UPPER_CASE }
  - { key: readability-identifier-naming.LocalConstantCase,   value: UPPER_CASE }
